#backgroundMain {
    background-image: url(photos/websiteEnlarged.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#clicked {
    background-image: url(photos/inverted.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: left;
    margin-top: 200px;
    margin-left: 100px;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;

}

h1:hover {
    color: fuchsia;
}

h3 {
    position: absolute;
    color: rgba(249, 245, 245, 0.961);
    opacity: 75%;
    font-size: 75px;
    text-align: left;
    margin-left: 125px;
    bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}