#backgroundMain {
    background-image: url(photos/websiteEnlarged.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#clicked {
    background-image: url(photos/inverted.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

